@keyframes ldio-4pqo44ipw4-o {
    0% {
        opacity: 1;
        transform: translate(0 0)
    }
    49.99% {
        opacity: 1;
        transform: translate(80px, 0)
    }
    50% {
        opacity: 0;
        transform: translate(80px, 0)
    }
    100% {
        opacity: 0;
        transform: translate(0, 0)
    }
}

@keyframes ldio-4pqo44ipw4 {
    0% {
        transform: translate(0, 0)
    }
    50% {
        transform: translate(80px, 0)
    }
    100% {
        transform: translate(0, 0)
    }
}

.ldio-4pqo44ipw4 div {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 60px;
    left: 20px;
}

.ldio-4pqo44ipw4 div:nth-child(1) {
    background: #fe514c;
    animation: ldio-4pqo44ipw4 1s linear infinite;
    animation-delay: -0.5s;
}

.ldio-4pqo44ipw4 div:nth-child(2) {
    background: #ffb80c;
    animation: ldio-4pqo44ipw4 1s linear infinite;
    animation-delay: 0s;
}

.ldio-4pqo44ipw4 div:nth-child(3) {
    background: #fe514c;
    animation: ldio-4pqo44ipw4-o 1s linear infinite;
    animation-delay: -0.5s;
}

.loadingio-spinner-dual-ball-l2u3038qtw8 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-4pqo44ipw4 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-4pqo44ipw4 div {
    box-sizing: content-box;
}


.bar-loader {
    position: relative;
    border-radius: 0;
    width: 75px;
    height: 100px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#191919 50px, transparent 0),
    linear-gradient(#191919 50px, transparent 0),
    linear-gradient(#191919 50px, transparent 0),
    linear-gradient(#191919 50px, transparent 0),
    linear-gradient(#191919 50px, transparent 0);
    background-size: 8px 100%;
    background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px, 60px 50px;
    animation: pillerPushUp 4s linear infinite;
}

.bar-loader:after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #de3500;
    border-radius: 50%;
    animation: ballStepUp 4s linear infinite;
}

@keyframes pillerPushUp {
    0%, 40%, 100% {
        background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px, 60px 50px
    }
    50%, 90% {
        background-position: 0px 50px, 15px 58px, 30px 66px, 45px 78px, 60px 90px
    }
}

@keyframes ballStepUp {
    0% {
        transform: translate(0, 0)
    }
    5% {
        transform: translate(8px, -14px)
    }
    10% {
        transform: translate(15px, -10px)
    }
    17% {
        transform: translate(23px, -24px)
    }
    20% {
        transform: translate(30px, -20px)
    }
    27% {
        transform: translate(38px, -34px)
    }
    30% {
        transform: translate(45px, -30px)
    }
    37% {
        transform: translate(53px, -44px)
    }
    40% {
        transform: translate(60px, -40px)
    }
    50% {
        transform: translate(60px, 0)
    }
    57% {
        transform: translate(53px, -14px)
    }
    60% {
        transform: translate(45px, -10px)
    }
    67% {
        transform: translate(37px, -24px)
    }
    70% {
        transform: translate(30px, -20px)
    }
    77% {
        transform: translate(22px, -34px)
    }
    80% {
        transform: translate(15px, -30px)
    }
    87% {
        transform: translate(7px, -44px)
    }
    90% {
        transform: translate(0, -40px)
    }
    100% {
        transform: translate(0, 0);
    }
}
